.title{
    position: absolute;
width: 74.3%;
height: 16%;
left: 13%;
top: 8.5%;

background-color: rgba(49, 255, 255, 0.3);
border: 1px solid #070707;
box-sizing: border-box;


}
.interest{
    position: absolute;
width: 74.3%;
height: 88%;
left: 13%;
top: 8.5%;

border: 4px solid #000000;
box-sizing: border-box;
border-radius: 50px;

background:url(earth.png)no-repeat;background-position: 10% 70%;background-size: 45%;

}
p{
    position: absolute;
    width: 40%;
    height: 0%;
    left: 40%;
    top: 30%;
    
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    
    color: #001329;
     
}
.location{
    position: absolute;
    width: 13%;
    height: 41%;
    left: 80%;
    top: 34%;
    
    background: rgba(255, 0, 0, 0.4);
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}
p1{
    position:absolute;
    left:25%;
    top:5%;
    font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.image{
    position: absolute;
    width:7.5%;
    height:70%;
    left:5%;
    top:17%;
    background-color: rgb(253, 254, 255);
    border-radius:50%;
}
p9{
    position: absolute;
    top:23%;
    left:17%;
    font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 48px;
display: flex;
align-items: center;


}

p2{
    position: absolute;
width: 30%;
height: 10%;
left: 60%;
top: 20%;

font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: center;

color: #000000;
}
.Swimming{
    position: absolute;
left: 56.88%;
right: 39.38%;
top: 51.02%;
bottom: 40.82%;
width:10%;


background: rgba(255, 0, 0, 0.2);
border: 4px solid #000000;
transform:translateY(-150px);

}
p3{
position: absolute;

font-family: Architects Daughter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 14px;
display: flex;
align-items: center;

color: #000000;
transform:translateX(10px);

}
.Games{
    position: absolute;
    left: 69.86%;
    right: 26.39%;
    top:  51.02%;
    bottom: 40.82%;
    width:10%;
    
    
    background: rgba(250, 255, 0, 0.2);
    border: 4px solid #000000;
    transform:translateY(-150px);
}
p4{
    position:absolute;
    top:25%;
    left:7%;
    font-family: Architects Daughter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
}
.travel{
    position: absolute;
left: 72.36%;
right: 23.89%;
top: 62.45%;
bottom: 29.39%;
width: 10%;

background: rgba(0, 163, 255, 0.2);
border: 4px solid #000000;
transform:translateY(-120px);

}
p5{
    position: absolute;
left:30%;
top:30%;

font-family: Architects Daughter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
}
.reading{
    position: absolute;
left: 58.06%;
right: 38.19%;
top: 59.45%;
bottom: 32.13%;
width:10%;

background: rgba(79, 208, 18, 0.2);
border: 4px solid #000000;
transform:translateY(-100px);
}
p6{
    position: absolute;
left:26%;
top:30%;

font-family: Architects Daughter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
}
.piano{
    position: absolute;
left: 61.88%;
right: 34.38%;
top: 72.7%;
bottom: 19.14%;
width:10%;

background: rgba(0, 0, 255, 0.2);
border: 4px solid #000000;
transform:translateY(-100px);
}
p7{
    position: absolute;
    left:10%;
    top:30%;

font-family: Architects Daughter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
transform:translateX(30px);

}
.create{
    position: absolute;
left: 68.47%;
right: 26.88%;
top: 95.37%;
bottom: -6.64%;
width:26%;

background: rgba(131, 122, 122, 0.2);
border: 4px solid #000000;
transform:translateY(-100px);
}
p8{
    position: absolute;
    top:35%;


font-family: Architects Daughter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
transform:translateX(70px);

}
.leftarrow{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 16%;
    top: 80%;
    border:none;
    background:url(left.png)no-repeat;background-position: 10% 101%;background-size: 50%;    
}
