
@font-face {
    font-family:Inter;
    src: url(https://fonts.google.com/specimen/Inter?query=inter#standard-styles);
}
@font-face {
    font-family:Gabriola;
    src: url(https://fonts.google.com/specimen/Galdeano?query=Galdeano);
}

.logo{
    position: absolute;
    width: 6%;
    height: 10%;
    left: 3%;
    top: 1%;
    background: url("image/LOGO.png")no-repeat;background-position:50% 50%;background-size:100%;
    border: none;
    cursor: pointer;
}
.logo:hover,.logo:focus{
    background: url("image/LOGO.png")no-repeat;background-position:50% 50%;background-size:110%;

}

.bodybackgound{
    background: #E5E5E5;
}

.divALL{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    background: #ffffff;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.div_Notice_Friend_Box{
    position: absolute;
    width: 20%;
    height: 5%;
    left:3%;
    top: 12%;

    background: #FFFFFF;
    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
}

.button_addFriend{
    position: absolute;
    background: url("image/ICON_addFriend.png")no-repeat;background-position:50% 50%;background-size:60%;
    height: 100%;
    margin: 0% 85%;
    width:13%;
    border: none;
}
.button_newFriend{
    position: absolute;
    background: url("image/ICON_newFriend.png")no-repeat;background-position:50% 50%;background-size:100%;
    height: 100%;
    margin: 0% 2%;
    width:25%;
    border: none;

    font-family: Inter;
    padding-left:10%;
    font-size: 8px;
}

.div_search_box{
    position: absolute;
    width: 20%;
    height: 6%;
    left: 3%;
    top: 20%;

    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    background:url(image/ICONsearch.png)no-repeat;background-position:9% 50%;background-size: 7%;
    padding-left:4%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size:100%;
    line-height: 16px;
    display: flex;
    align-items: center;
    outline: none
}

.div_Friend_List{
    position: absolute;
    width: 20%;
    height: 63%;
    left: 3%;
    top: 29%;

    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
}

.div_Friend_Chat_Name{
    position: absolute;
    width:50%;
    height: 13%;
    left: 25%;
    top: 13%;

    background: rgba(255, 49, 234, 0.2);
    border: 1px solid #98989E;
    box-sizing: border-box;
    border-radius: 10px;

}
.div_CHATNAME_FriendPIC{
    position: absolute;
    width: 6%;
    height: 45%;
    left: 5%;
    top: 25%;
    border-radius: 50%;
    background: hotpink;
}
.text_CHATNAME_FriendUsername{
    position: absolute;
    left: 13%;
    top: 25%;
    border-radius: 50%;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;

    line-height: 17px;
    display: flex;
    align-items: center;
    white-space:nowrap;
}
.div_button_three_dot{
    position: absolute;
    width:5%;
    height: 13%;
    left: 70%;
    top: 13%;

    box-sizing: border-box;
    border-radius: 10px;
}
.button_three_dot{
    background: url("image/ICON_ThreeDot.png")no-repeat;background-position:50% 50%;background-size: 7%;
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 100%;
    border: none;
}

.div_chat{
    position: absolute;
    width:50%;
    height: 63%;
    left: 25%;
    top: 29%;

    background: #FFFFFF;
    border: 1px solid #98989E;
    box-sizing: border-box;
    border-radius: 10px;
}

.div_chatinput{
    position: absolute;
    width: 96%;
    height: 10%;
    left: 2%;
    top: 87%;

    background: #FFFFFF;
    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
    border-radius: 8px;
}

.chat_input{
    position: absolute;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding-left:3%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size:16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    outline: none
}
.button_file{
    position: absolute;
    background: url("image/ICON_files.png")no-repeat;background-position:50% 50%;background-size:55%;
    height: 100%;
    margin: 0% 80%;
    border: none;
    width:6%;
}
.button_emoji{
    position: absolute;
    background: url("image/ICON_Emoji.png")no-repeat;background-position:50% 50%;background-size:55%;
    height: 100%;
    margin: 0% 86.2%;
    width:6%;
    border: none;
}
.button_send{
    position: absolute;
    background: url("image/ICON_send.png")no-repeat;background-position:50% 50%;background-size:80%;
    height: 100%;
    margin: 0% 92.5%;
    width:6%;
    border: none;
}

.div_selfInfo{
    position: absolute;
    width: 20%;
    height: 8.5%;
    left: 77%;
    top: 3%;


    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
}

.div_selfPic {
    position: absolute;
    width: 13%;
    height: 60%;
    left: 5%;
    top: 20%;
    border-radius: 50%;
    background: pink;
}

.text_username{
    position: absolute;
    font-family: Inter;
    font-size: 12px;
    text-align: center;
    margin: 8% 23%;
}
.button_setting{
    position: absolute;
    background: url("image/ICON_Setting.png")no-repeat;background-position:50% 50%;background-size:60%;
    height: 100%;
    margin: 0% 83%;
    width:15%;
    border: none;
}

.div_friend_Hobbies{
    position: absolute;
    width: 20%;
    height: 79%;
    left: 77%;
    top: 13%;

    background: #FFFFFF;
    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
}

.div_friend_Hobbies_info {
    position: absolute;
    width: 90%;
    height: 35%;
    left: 5%;
    top: 2%;

    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
}

.div_habitFriendPIC {
    position: absolute;
    width: 35%;
    height: 45%;
    left: 32%;
    top: 15%;
    border-radius: 50%;
    background:hotpink ;
}
.div_Text_FRIEND_USERNAME{
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 70%;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    display: flex;
    align-items: center;
    white-space:nowrap;
}
.text_friendUsername{
    justify-content: center;
    position: absolute;
    padding-left: 25%;
    top: 70%;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    display: flex;
    align-items: center;
    white-space:nowrap;
}
.text_Habbies{
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 37%;
    font-family: Galdeano;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: center;
}

.div_Habbies_Friend_label{
    position: absolute;
    width: 80%;
    height: 45%;
    left:10%;
    top: 50%;

    /* border-radius:55%;
    background: #FFFEFE;
    border: 1px solid rgba(152, 152, 158, 0.3);
    box-sizing: border-box; */
}


.message_receive{
    width: 50%;
    height: auto;
    float: left;
    clear: right;
    background: rgba(255, 49, 234, 0.3);
    border-radius: 20px;

}
.message_send{
    width: 286px;
    height: auto;
    float: right;
    clear:both;
    border-radius: 20px;
    border: 1px solid #98989E;
    margin: 3% 7%;

}

li {
    padding-left:3%;
    padding-right:3%;
    margin: 10px 0;
    line-height: 40px;
    list-style: none;
    WORD-BREAK: break-all;
    WORD-WRAP: break-word

}
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.div_chat2{
    position: absolute;
    overflow: auto;
    width:100%;
    height: 85%;
    border: none;
    background: #FFFFFF;
}

#show_profile {
    justify-content: center;
    position: absolute;
    padding-left: 8%;
    top: 0%;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    white-space:nowrap;

}

#show_profile li {
    list-style: circle;
    line-height: 15px;
}

#modal {
    width: 100%;
    height: 100%;
    /* 默认隐藏 */
    display: none; 
    /* 固定定位 */
    position: fixed;
    /* 设置在顶层 */
    z-index: 1000;
    /* 设置位置 */
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /* 弹窗内容 */
  #modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    border: 1px solid #888;
    width: 1000px;
    height: 580px;
    z-index: 1001;
  }
  /* 返回*/
  #return_back{
    position: relative;
    background-color: #ffffff;
    border: #ffffff;
    width: 70px;
    height: 50px;
    top:86%;
    left:80%;
    background: url("image/arrow.png")no-repeat;background-position:50% 50%;background-size:60%;
  }
  /* 关闭按钮 */
  #close {
    position: absolute;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
/* 设置关闭按钮的鼠标指针 */
  #close:hover,
  #close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
